@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gajraj+One&family=Nova+Round&display=swap');
#content div{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    font-family: "Gajraj One", "Nova Round", "Funnel Sans";
    font-size: 22px;
    margin: 0;
    padding: 0;
    color:#32F850;
    background-color: #333333;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: black;
    color: #32F850;
    
}
#logo_link{
    justify-self: center;
    align-self: center;
    padding-top: 5px;
    padding-left: 5px;
}
#logo_link img{
    width: 200px;
    padding-left: 50px;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding: 50px;
    color:#32F850;
    font-size: 1.5em;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#homedescription{
    grid-row: 1/5;
    font-size: 30px;
    justify-self: center;
    margin:auto;
    padding-left:50px;
}

#megabonk-img
{
    width: 750px;
    grid-column: 1/2;
    justify-self:center;
}
#megabonk{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
#rocketleague{
    text-align: center;
}
#rocketleague-img{
    width:750px;
    grid-column: 1/2;
    justify-self: center;
}
footer{
    background-color: black;
    color: #32F850;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer a{
    text-align: center;
    text-decoration: none;
    padding: 50px;
    color: #32F850;
}
footer .social img{
    padding-top: 15px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    background-color: #32F850;
    color: black;
    text-decoration: underline;
}
nav a:hover{
background-color: #32F850;
color: black;
}
nav{
    display:flex;
    justify-content: space-around;
}
.simpleComponent{
    grid-column: 1/3;
    grid-row: 2/3;
}
#descriptionMegabonk{
    grid-column: 1/3;
    font-size: 25px;
    padding-bottom: 50px;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-self: center;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
